@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@font-face {
  font-family: "SF_Regular";
  src: url("./assets/fonts/SFPRODISPLAYREGULAR.OTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF_Bold";
  src: url("./assets/fonts/SFPRODISPLAYBOLD.OTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF_Medium";
  src: url("./assets/fonts/SFPRODISPLAYMEDIUM.OTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
